@import "tailwindcss";

@layer components {
  .center {
    @apply flex justify-center items-center;
  }

  .hover-scale:hover {
    @apply transition-all ease-linear duration-150 scale-[1.05];
  }

  .box {
    @apply border-2 border-gray-200 px-3 py-1 text-[0.85rem] text-center rounded-md max-sm:text-[0.75rem] cursor-pointer hover:bg-gray-100;
  }

  .selected {
    @apply border-black bg-black text-white hover:bg-black;
  }

  .list {
    @apply p-3 border-2 border-gray-200 my-3 rounded-md
         max-sm:text-[0.85rem] hover:border-gray-300;
  }

  .checkbox {
    @apply mr-3 h-5 w-5 cursor-pointer appearance-none
         rounded-sm border border-slate-400
         transition-colors relative;
  }

  .checkbox:checked {
    @apply bg-black border-black;
  }

  .checkbox:checked::after {
    content: "";
    @apply absolute left-1.5 top-0.5 w-1.5 h-2.5
         border-white border-r-2 border-b-2 rotate-45;
  }

  .task-text {
    @apply transition-all;
  }

  .peer:checked ~ .task-text {
    @apply line-through text-gray-400;
  }
}
